.searchbar input, .searchbar button{
    padding: 10px;
    font-size: 1rem;
    border: solid 1px #4d8661;
    height: 50px;
  }
  
  .searchbar input{
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 45%;
  }

  .searchbar select{
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
    border: solid 1px #4d8661;
    height: 50px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    padding-right: 2rem;
  }
  
  .searchbar input:focus, select:focus{
    outline: none;
  }
  
  .searchbar button{
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #76C893;
    transition: 0.2s;
    width: 50px;
    margin: 0 !important;
  }
  
  .searchbar button:hover, .searchbar button:active{
    background-color: #4d8661;
  }

  .searchbar{
      margin-top: 3rem;
      width: 700px;
      display: flex;
      justify-content: center;
  }
  
  .close{
    width: auto !important;
    padding: 10px !important;
    background-color: #fff !important;
    border-radius: 0 !important;
    border-right: none !important;
  }

  .fa-close{
    visibility: visible;
  }

  .search{
    text-align: start;
    align-self: flex-start;
  }

  @media screen and (max-width: 750px){
    .searchbar{
      width: 95%;
    }
  }