.img{
    width: 700px;
    height: 400px;
    object-fit: cover;
    margin: 2rem 0;
    position: relative;
    transition: 0.2s;
  }

.img:hover{
  opacity: 0.8;
}

.img-big{
  width: 50vw;
  height: 35vw;
}

.img-small{
  width: 20vw;
  height: 20vw;
  margin-bottom: 0;
}
  
  .div-text{
    box-sizing: border-box;
    top: 2rem;
    position: absolute;
    display: flex;
    width: 700px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s;
    opacity: 0;
  }

  .div-text-big{
    padding: 2rem;
  }

  .div-text-big h1{
    font-size: 3rem;
  }
  
  .div-text:hover{
    opacity: 1;
  }
  
  .subtitle{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    color: white;
    padding: 2rem;
    font-size: 1.3rem;
  }

  .subtitle-big{
    position: static;
    height: auto;
    color: #333;
    padding: 0;
  }
  
  .subtitle:hover{
    animation: text-hover 0.4s;
  }
  
  .container-img{
    position: relative;
  }
  
  @keyframes text-hover {
    from{top: 8%}
    to{top: 0;}
  }
  
  .btn {
    margin-top: 1rem;
    color: #333;
    text-decoration: none;
    background-color: #76C893;
    display: flex;
    width: 250px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    transition: 0.7s;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    border: none;
  }
  
  .btn:hover{
    box-shadow: inset 0 0 0 2em #4d8661;
  }

  a{
    cursor: pointer;
  }

  article{
    width: 700px;
    border-bottom: solid 1px #aaa;
    margin-top: 2rem;
    align-items: center;
    cursor: pointer;
  }

  .big{
    width: 90vw;
    display: flex;
  }

  .small{
    width: 20vw;
    height: 30vw;
    border-bottom: none;
  }

  .small h1{
    font-size: 1.3rem;
    height: 7vh;
  }


  @media screen and (max-width: 750px){
    article{
      width: 80%;
    }

    .container-img img{
      width: 100%;
      height: 300px;
    }

    .div-text{
      width: 100%;
      height: 300px;
    }

  }

  @media screen and (max-width: 1300px){
    .div-text-big h1{
      font-size: 2rem;
    }

  }

  @media screen and (max-width: 1000px){
    .subtitle-big{
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 950px){
    article{
      flex-direction: column;
    }

    .div-text-big{
      padding: 0;
    }

    .img-big{
      width: 90vw;
    }

    .small h1{
      font-size: 1.2rem;
      height: 4vh !important;
    }

    .small {
      width: 45%;
    }

    .img-small{
      width: 100%;
    }

    .row{
      flex-direction: column;
    }

    .row div{
      width: 100%;
    }
  }

  @media screen and (max-width: 750px){
    .img-big{
      width: 90vw !important;
    }

    .img-small{
      width: 100% !important;
      height: 20vw !important;
    }
  }

  @media screen and (max-width: 990px){
    .small h1{
      height: 10vh;
    }
  }

  @media screen and (max-width: 915px){
    .small h1{
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 600px){
    .row div{
      flex-direction: column;
    }

    .small{
      width: 100%;
      height: auto;
    }

    .small h1{
      height: auto !important;
    }

    .img-small{
      height: 20vh !important;
    }

    .subtitle{
      font-size: 1rem;
    }
  }