.container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

form{
    width: 35%;
    padding: 2rem;
    border: solid 1px #aaa;
    height: 70vh;
    margin: 0 2rem;
}

form h1{
    margin: 1rem 0;
}

.field{
    width: 100%;
    margin: 0.7rem 0 !important;
}

button{
    margin-top: 1rem !important;
}
