.logo{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    width: 30%;
  }
  
  footer{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: solid 1px #bbb;
    background-color: #76c893b9;
    box-shadow: 1rem 0.1rem 20px #999;
    margin-top: 2rem;
  }

  .social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }

  .social-media i {
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: #76C893;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    transition: 0.2s;
  }

  .social-media i:hover{
    opacity: 0.7;
  }

  .social-media:hover{
    background-color: transparent;
  }

  ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }