@import url('https://fonts.googleapis.com/css?family=Quicksand:bold');

body{
  background-color: #e1faea;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container-spin{
  height: 75vh;
  align-items: center;
  display: flex;
}

h1{
  margin: 0;
  text-shadow: 1px 1px 2px #555;
  font-size: 2.3rem;
}

.row{
  display: flex;
  width: 90vw;
  justify-content: space-between;
}

.row div{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%;
}
