@import url('https://fonts.googleapis.com/css?family=Quicksand:bold');

body{
  background-color: #e1faea;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}


article{
  width: 700px;
  border-bottom: solid 1px #aaa;
  margin-top: 2rem;
}

h1{
  margin: 0;
  text-shadow: 1px 1px 2px #555;
  font-size: 2.3rem;
}

.img{
  width: 700px;
  height: 400px;
  object-fit: cover;
  margin: 2rem 0;
  position: relative;
}

.div-text{
  box-sizing: border-box;
  top: 2rem;
  position: absolute;
  display: flex;
  width: 700px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s;
  opacity: 0;
}

.div-text:hover{
  opacity: 1;
}

.subtitle{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  font-weight: bolder;
  color: white;
  padding: 2rem;
  font-size: 1.3rem;
}

.subtitle:hover{
  animation: text-hover 0.5s;
}

.container-img{
  position: relative;
}

@keyframes text-hover {
  from{top: 15%}
  to{top: 0;}
}

.btn {
  margin-top: 1rem;
  color: #333;
  text-decoration: none;
  background-color: #76C893;
  display: flex;
  width: 250px;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  transition: 0.7s;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.btn:hover{
  box-shadow: inset 0 0 0 2em #4d8661;
}

.searchbar input, .searchbar button{
  padding: 10px;
  font-size: 1rem;
  border: solid 1px #4d8661;
}

.searchbar input{
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 350px;
}

.searchbar input:focus{
  outline: none;
}

.searchbar button{
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #76C893;
  transition: 0.2s;
}

.searchbar button:hover, .searchbar button:active{
  background-color: #4d8661;
}